.outerLogin{
    margin: auto;
}
.LoginNav{
    display:flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
}
.inputContainer{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.links:hover{
    cursor: pointer;
    text-decoration: underline;
    background-color: white;
    
}
.links{
    color: #24b4f4;
}